@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      text-align: center;
    }

    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Login button {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 10px;
      border-radius: 6px
  }
}